"""Command Line Interface."""
from .{{project_name}} import runParser
import typer

app = typer.Typer()


@app.command()
def run() -> None:
    """Run command."""
    print("Hello World")

@app.command()
def {{project_name}}(infile:str,outfile:str) -> None:
    """{{short_desc}}"""
    runParser(infile,outfile)


@app.callback(no_args_is_help=True)
def main() -> None:
    """CLI for {{project_name}} Parser Library."""
typer_click_object = typer.main.get_command(app)
