from antlr4 import *
from {{project_name}}Lexer import {{project_name}}Lexer
from {{project_name}}Listener import {{project_name}}Listener
from {{project_name}}Parser import {{project_name}}Parser
import sys
import os

class {{project_name}}PrintListener({{project_name}}Listener):
    def enterBullet(self, ctx):
        print(f"# {ctx.string().getText()}")
    def enterHex(self,ctx):
        path=os.path.expanduser(f"~/tasknotes/{ctx.getText()}.md")
        if os.path.exists(path):
            with open(path,'r') as r:
                print(r.read())
    

def runParser(file):
    lexer = {{project_name}}Lexer(FileStream(file))
    stream = CommonTokenStream(lexer)
    parser = {{project_name}}Parser(stream)
    tree = parser.top()
    printer = {{project_name}}PrintListener()
    walker = ParseTreeWalker()
    walker.walk(printer, tree)

if __name__ == '__main__':
    runParser()
